.padding-4px {
  padding: 4px;
}

.heading {
  font-size: 4.5rem;
  line-height: 1.3em;
  letter-spacing: 0.014em;
}

.headingText {
  font-size: 1.5rem;
  line-height: 1.5;
}

.headingCharacters100 {
  font-size: 5.6rem;
  line-height: 1.0714;
  letter-spacing: -0.005em;
}

.textCharacters100 {
  font-size: 1.9rem;
  line-height: 1.421;
  letter-spacing: 0.012em;
}

.margin-bottom-16 {
  margin-bottom: 4px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-block-16 {
  margin-block: 16px;
}

.about {
  background-image: linear-gradient(
    108deg,
    #0894ff,
    #c959dd 34%,
    #ff2e54 68%,
    #ff9004
  );
  color: transparent;
  background-clip: text;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.height100fitcontent {
  height: fit-content;
  min-height: 100%;
  width: 100%;
}

.textJustify {
  text-align: justify;
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: black;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: var(--backgroundPrimary);
}

.bg-grey {
  background-color: #1f2937;
}

.pd-10per {
  padding: 10%;
}

.pd-15per {
  padding: 15%;
}

.pd-20per {
  padding: 20%;
}

.pd-30per {
  padding: 30%;
}

.pd-inline-16px {
  padding-inline: 1.6rem;
}

.pd-block-16px {
  padding-block: 1.6rem;
}

.flex-column {
  flex-direction: column;
}

.skills {
}

.logo {
  height: 80%;
  width: 100%;
}

.logoText {
  height: 20%;
  width: 100%;
  color: var(--contentPrimary);
  font-size: 2rem;
}
