#nav-bar-wrapper {
  position: sticky;
  height: fit-content;
  width: 100%;
  top: 0;
  left: 0;
  height: var(--navBarHeight);
  color: white;
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: var(--backgroundPrimary);
}

#nav-bar-content {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  max-width: var(--maxWidth);

  color: var(--contentPrimary);
  border-color: var(--contentPrimary);
}

#nav-bar-content > p:last-child {
  padding-right: 16px;
}

.navbarText {
  position: relative;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 400ms;
}

.pageActive {
  opacity: 1;
}


@media (hover: none) {
  #nav-bar-content > p:hover {
    opacity:1;
  }
}

#home-nav-content {
  font-size: 4rem;
  color: var(--contentPrimary);
  margin: 0.2em 0;
}

.primaryBackground {
  background-color: var(--themePrimary);
}

/* .pageActive:after,
#nav-bar-content > p:hover::after {
  content: "";
  background: var(--contentPrimary);
  position: absolute;
  top: 1.5em;
  left: 0px;
  height: 0.24em;
  width: 100%;
} */
