#homepage-section {
  background-color: var(--backgroundPrimary);
  border-bottom: 1px solid #000000;
}

#home-page-content {
  color: var(--contentPrimary);
  margin: 0px;
  font-size: 4rem;
  width: 100%;
  height: 100%;
  max-width: var(--maxWidth);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#flower-background {
  background-image: url("../assets/images/flower-background.png");
  width: 460px;
  height: 283px;
  background-repeat: no-repeat;
}

.introduction {
  font-size: 4rem;
}

#about-section {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
  min-height: 100%;
  height: fit-content;
}

#about-page-content {
  color: var(--contentPrimary);
  margin: 0px;
  font-size: 4rem;
  width: 100%;
  height: 100%;
  max-width: var(--maxWidth);
  gap: 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about-page-text {
  margin-top: 1.8em;
  color: var(--contentSecendary);
}

.about-page-below-text {
  margin-top: 0.9em;
  color: var(--contentSecendary);
}

#skills-section {
  min-height: 100%;
  height: fit-content;
  width: 100%;
  border-bottom: 1px solid black;
  padding-block: 26.4px;
  /* background-color: var(--backgroundPrimary); */
  /* background-image: url("../assets/images/backdropImage.jpeg"); */

  /* background: radial-gradient(#9a02db, #9198e5); */
}

#skill-page-content {
  width: 100%;
  height: fit-content;
  max-width: 1250px;
  min-height: 100%;
}

#experience-section {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid black;
}

#experience-content {
  height: 100%;
  width: var(--maxWidth);
  margin-inline: auto;
}

.experienceCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.experienceCard li {
  color: black;
}

#education-section {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
}
#contact-section {
  min-height: 100vh;
  border-bottom: 1px solid black;
}

#contact-section-content {
  width: var(--maxWidth);
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
}

#contact-section-content input label{
  font-size: 2rem;

}

#contact-content{
  display: flex;
}

input{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

label{
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 2rem;
}