#homepage-section {
  background-color: var(--backgroundPrimary);
}

/* #about-section {
  height: 100%;
  min-height: 100%;
  height: fit-content;
  } */

#skills-section {
  padding-block: 26.4px;
}

#experience-section {
  background-color: #ffffff;
}

/* #education-section {
  } */

#contact-section {
  --black: #1d1d1d;
  --gradient-blue: rgba(122, 167, 255, 0.32);
  --gradient-red: rgba(255, 1, 1, 0.15);
  --white: white;
  background-color: var(--black);
  background-image: radial-gradient(circle farthest-corner at 100% 100%, var(--gradient-blue), transparent 44%), radial-gradient(circle farthest-corner at 0% 100%, var(--gradient-red), transparent 32%);
  color: var(--white);
  min-height: 100%;
  width: 100%;
}

#home-page-content {
  color: var(--contentPrimary);
  max-width: var(--maxWidth);
}

#flower-background {
  background-image: url("../assets/images/flower-background.png");
  width: 460px;
  height: 283px;
  background-repeat: no-repeat;
}

.introduction {
  font-size: 4rem;
}

#about-page-content {
  color: var(--contentPrimary);
  font-size: 4rem;
  height: 100%;
  max-width: var(--maxWidth);
  gap: 18px;
}

#about-page-text {
  margin-top: 1.8em;
  color: var(--contentSecendary);
}

.about-page-below-text {
  margin-top: 0.9em;
  color: var(--contentSecendary);
}

#skill-page-content {
  height: fit-content;
  max-width: 1250px;
  min-height: 100%;
}

#experience-content {
  height: 100%;
  max-width: var(--maxWidth);
  margin-inline: auto;
}

.experienceCard {
  backdrop-filter: blur(20px);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 0.1rem 0.8rem 4rem;
  margin-bottom: 4rem;
  background-color: #ffffff;
}

.experienceCard li {
  color: black;
}

#contact-section-content {
  max-width: var(--maxWidth);
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 1fr;
  justify-content: center;
  min-height: fit-content !important;
  gap: 16px;
}

#get-in-touch {
  display: block;
  width: 100%;
  margin: auto;
}

#form-overlay {
  margin: auto;
  background-color: #ffffff;
  border-radius: 16px;
  height: fit-content;
  width: fit-content;
  width: 75%;
  padding: 3rem;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

#contact-section-content input label {
  font-size: 2rem;
}

#contact-content {
  display: flex;
}

.text-error {
  height: 3rem;
}

.text-error > span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.6rem 1.5rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin: 0px 3px 0px;
  color: rgb(244, 67, 54);
}

input {
  display: block;
  padding: 0.6rem 1.5rem;
  font-size: 1.9rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
  display: grid;
  padding: 0.6rem 1.5rem;
  text-align: center;
  font-size: 1.9rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  cursor: pointer;
  background-color: black;
  color: #ffffff;
  border-radius: 4rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea {
  display: block;
  padding: 0.6rem 1.5rem;
  font-size: 1.9rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2rem;
  height: 170px;
  resize: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form {
  width: 100%;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.input-error {
  border: 2px solid red !important;
}

.display-grid {
  display: grid;
}

.box {
  position: relative;
  margin-left: 20px;
}
.box:before {
  position: absolute;
  left: -20px;
  top: 0.6em;
  content: "";
  height: 0.4em;
  width: 0.4em;
  margin-bottom: 15px;
  background: #212225;
}

.boxHeading {
  font-size: 4rem;
  padding: 1rem;
  margin-block: 4rem;
}

.boxHeading:before {
  height: 100%;
  width: 0.4em;
  top: 0;
}
