* {
  /* --themePrimary:#A7A2A9; */
  --themePrimary: #a1a6b4;
  --contentPrimary: #f4f7f5;
  --backgroundPrimary: #000000;
  --maxWidth: 926px;
  --navBarHeight: fit-content;

  --contentSecendary: #000000;

  margin: 0;
  padding: 0;
  font-size: 62.5%;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  display: none;
  height: 100vh;
  overflow: hidden;
}

p {
  word-wrap: break-word;
}

#wrapper-main {
  height: 100%;
  overflow: auto;
}

.displayblock {
  display: block;
}

img {
  height: 100%;
  width: 100%;
}

a{
  color: white;
}
