#skill-grid-container {
  height: 100%;
  margin-top: 1.8rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    "frontend frontend frontend frontend frontend frontend frontend midleend midleend midleend"
    "backend backend backend backend backend backend hostingend hostingend  dataStorage dataStorage"
    "processes processes processes  processes  processes  processes  processes  processes  processes  processes";
  grid-template-rows: auto auto auto;
  /* backdrop-filter: blur(50px); */
  /* background-color: transparent; */
}

#frontEnd {
  display: grid;
  grid-area: frontend;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "markUp markUp programming programming programming programming styling styling";
  grid-template-rows: auto;
}

#programming {
  grid-area: programming;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "javascript webPack"
    "reactRedux react"
    "reactRedux react";
}

#styling {
  grid-area: styling;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "taiWind"
    "sass"
    "css";
}

#taiWind {
  grid-area: taiWind;
}

#sass {
  grid-area: sass;
}

#css {
  grid-area: css;
  background-color: #ffffff;
}

#markUp {
  display: grid;
  grid-area: markUp;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "html"
    "petiteVue"
    "petiteVue";
}

#html {
  grid-area: html;
}

#petite-vue {
  grid-area: petiteVue;
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#webPack {
  background-color: #f6f8fa;
}

#javascript {
  grid-area: javascript;
  background-color: #f0d91f;
}

#react-redux {
  grid-area: reactRedux;
}

#webPack {
  grid-area: webPack;
}

#react {
  grid-area: react;
}

#midleEnd {
  grid-area: midleend;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "rest jwt"
    "websockets webRc"
    "graphQl graphQl";
  grid-template-columns: 1fr 1fr;
}

#rest {
  grid-area: rest;
}

#graphQl {
  grid-area: graphQl;
}

#websockets {
  grid-area: websockets;
  background-color: aliceblue;
}

#webRc {
  grid-area: webRc;
}

#j-w-t {
  grid-area: jwt;
}

#backEnd {
  grid-area: backend;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "javascriptBackend python lowLevel";
}

#javascript-backend {
  grid-area: javascriptBackend;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "node"
    "express";
}

#node {
  grid-area: node;
}

#express {
  grid-area: express;
  color: #002233;
  padding: 45% 10%;
}

#python {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "pythonLanguage"
    "microServices"
    "flask";
}

#pythonLanguage {
  grid-area: pythonLanguage;
}

#microservices {
  grid-area: microServices;
}

#flask {
  grid-area: flask;
}

#lowLevel {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "c"
    "Orm"
    "cpp";
}

#c {
  grid-area: c;
  background-color: #0c0e34;
}

#orm {
  grid-area: Orm;
  background-color: #f4f8fe;
}

#cpp {
  grid-area: cpp;
}

#hostingEnd {
  grid-area: hostingend;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "docker"
    "ngnix"
    "aws";
}

#docker {
  grid-area: docker;
  background-color: #ffffff;
}

#ngnix {
  grid-area: ngnix;
}

#aws {
  grid-area: aws;
  background-color: #141f2e;
}

#dataStorage {
  grid-area: dataStorage;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "yesSql"
    "yesSql"
    "noSql";
}

#yesSql {
  grid-area: yesSql;
  display: grid;
  grid-template-areas:
    "sql"
    "pgSql";
}

#noSql {
  grid-area: noSql;
  display: grid;
  grid-template-areas: "mongoDb";
}

#sql {
  grid-area: sql;
  background-color: #002342;
}

#pgSql {
  grid-area: pgSql;
  background-color: aliceblue;
}

#mongoDb {
  grid-area: mongoDb;
}

#processes {
  grid-area: processes;
  display: grid;
  margin-top: 16px;
  grid-template-columns: auto-fit;
  grid-template-areas:
    "devOps scrum dynamicProgramming DataStructures"
    "softwareDesign algorithms systemDesign .";
  gap: 8px;
}

@media (max-width: 800px) {
  #processes {
    grid-area: processes;
    display: grid;
    margin-top: 16px;
    grid-template-columns: auto-fit;
    grid-template-areas:
      "devOps scrum"
      "dynamicProgramming DataStructures"
      "softwareDesign algorithms "
      "systemDesign .";
    gap: 8px;
  }
}

@media (max-width: 400px) {
  #processes {
    grid-area: processes;
    display: grid;
    margin-top: 16px;
    grid-template-columns: auto-fit;
    grid-template-areas:
      "devOps"
      "scrum"
      "dynamicProgramming"
      "DataStructures"
      "softwareDesign"
      "algorithms"
      "systemDesign";
    gap: 8px;
  }
}

#processes > div {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  border: 1px solid white;
  border-radius: 4px;
}

#processes p {
  color: white;
  font-size: 2.2rem;
  padding-block: 2rem;
  padding-inline: 1rem;
}

#devOps {
  grid-area: devOps;
}

#scrum {
  grid-area: scrum;
}

#dynamicProgramming {
  grid-area: dynamicProgramming;
}

#DataStructures {
  grid-area: DataStructures;
}

#algorithms {
  grid-area: algorithms;
}

#systemDesign {
  grid-area: systemDesign;
}

#devOps {
  grid-area: devOps;
}

#softwareDesign {
  grid-area: softwareDesign;
}

.boxShadow {
  padding: 8px;
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

/* .zoom:hover {
  transform: scale(1.05);
}

 */
